body {
    background: black;
    font-family: 'caveat'; 
    color: aqua;
}

.header_div {
    background: aqua;
    color: grey;
}

.header_div p {
    font-family: 'caveat';
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Roboto', 'sans-serif';
    margin-top: 30px;
    width: 130px;
    letter-spacing: 3px;
    font-weight: bolder;
}

.copy_right_footer {
    position: fixed;
    color: aqua;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: blue;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}